@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Developed by Qamarina</h1>
    <p>Let's watch YouTube <a href="https://www.youtube.com/">, click this link</a>.</p>
</div>
